<%= link_to 'All users', users_path %>

<h1><%= @user.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_user? @user%>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', @user, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %> |
<% end %>


<h2>Registrations</h2>
<% if @registrations.any? %>
  <ul>
    <% @registrations.each do |registration| %>
      <li>
        <strong>Event:</strong> <%= link_to registration.event.name, registration.event %><br>
        <strong>Registered At:</strong> <%= registration.created_at.strftime("%B %d, %Y %I:%M %p") %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No registrations found.</p>
<% end %>
