<!DOCTYPE html>
<html>
<head>
  <title>EventManagementSystem</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <nav>
    <div>
      <a href="/" style="text-decoration: none; font-size: 24px; font-weight: bold;">eventZ</a>
      <a href="<%= signup_path %>" style="float: right; text-decoration: none; padding: 10px; border: 1px solid black; border-radius: 5px;">Sign Up</a>
    </div>
  </nav>

  <div id="flash-messages">
    <% flash.each do |key, message| %>
      <div class="<%= key %>">
        <%= message %>
      </div>
    <% end %>
  </div>

  <%= yield %>

  <style>
    #flash-messages {
      margin: 10px 0;
    }
    .notice {
      padding: 10px;
      border: 1px solid green;
      background-color: #e0ffe0;
      border-radius: 5px;
      color: green;
      margin-bottom: 10px;
    }
    .alert {
      padding: 10px;
      border: 1px solid red;
      background-color: #ffe0e0;
      border-radius: 5px;
      color: red;
      margin-bottom: 10px;
    }
  </style>
</body>
</html>
