<!DOCTYPE html>
<html>
<head>
  <title>EventManagementSystem</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <nav>
    <div>
      <a href="/" style="text-decoration: none; font-size: 24px; font-weight: bold;">eventZ</a>
      <a href="<%= signup_path %>" style="float: right; text-decoration: none; padding: 10px; border: 1px solid black; border-radius: 5px;">Sign Up</a>
    </div>
  </nav>

  <%= yield %>
</body>
</html>
